* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("pexels-jose-lopez-19910453.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
    color: aliceblue;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    padding: 8px 16px;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    text-align: center;
    color: aliceblue;
    max-width: 1200px;
}

.main-content h1 {
    font-size: 3rem;
}

.main-content p {
    margin-top: 22px;
    max-width: 700px;
    font-size: 18px;
}

.main-content button {
    margin-top: 24px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .5px;
    background: black;
    color: aliceblue;
}